.container {
    align-content: center;
    border-radius: 5px;
    width: 300px;
    margin: auto auto 25px;
    padding: 25px;
}
.pinked {
    background-color: pink;
    font-family: Cochin serif;
    text-align: left;
    font-size: 16pt;
}
.hyphenate {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    background-color: rgba(136, 155, 108, 0.33);

}

h1 {
    text-align: center;
    font-family: Cochin serif;
    background-color: rgba(136, 155, 108, 0.33);
}
h2 {
    font-family: Cochin serif;
    background-color: rgba(136, 155, 108, 0.33);
    font-size: 18pt;
}
h3 {
    font-family: Cochin serif;
    background-color: rgba(136, 200, 108, 0.33);
    text-align: right;
    margin-right: 10pt;
}
p {
    font-family: Cochin serif;
    background-color: rgba(200, 155, 108, 0.33);
    text-align: left;
    font-size: 16pt;
}
ol {
    font-family: Cochin sans-serif;
    font-size: 16pt;
    text-align: left;
}
span {
    background-color: rgba(112, 112, 112, 0.33);
    padding-right: 80px;
    position: relative;
    z-index: 0;
}
a {
    background-color: rgba(136, 155, 200, 0.33);
    word-wrap: break-word;
    max-width:150px;
    overflow-wrap: break-word;
}