.container {
    align-content: center;
    border-radius: 5px;
    width: 300px;
    margin: auto auto 25px;
    padding: 25px;
}

.hyphenate {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    background-color: rgba(0.5, 0.5, 0, 0.5);

}

h1 {
    text-align: center;
    text-decoration-color: aqua;
    font-family: Cochin serif;
}
h2 {
    font-family: Cochin serif;
    font-size: 18pt;
}
h3 {
    font-family: Cochin serif;
    text-align: right;
    margin-right: 10pt;
}
p {
    font-family: Cochin serif;
    background-color: coral;

    text-align: left;
    font-size: 16pt;
}
ol {
    font-family: Cochin sans-serif;
    font-size: 16pt;
    text-align: left;
}
span {
    padding-right: 80px;
    position: relative;
    z-index: 1;
}
a {

    word-wrap: break-word;
    max-width:150px;
    overflow-wrap: break-word;
}